@use "./variables.scss" as *;


.registration-form {
    width: 100%;
    max-width: 30em;
    background-color: $brand;
    margin: 0 auto;

    @media (max-width: 480px) {
        max-width: 100%;
        border-radius: 0;
    }
}




