@use "./variables.scss" as *;

main {
    overflow: hidden;
}

.cat {
    position: absolute;
    right: -15em;
    top: -4em;
    width: 45em;

    path {
        fill: $accent;
    }

    @media (max-width: 1024px) {
        right: -10em;
        top: -2em;
        width: 35em;
    }

    @media (max-width: 768px) {
        position: relative;
        width: 20em;
        top: 2em;
        right: 0;
        left: 0;
        margin: 0 auto;
    }

    @media (max-width: 480px) {
        width: 14em;
        top: 3em;
    }
}